{% load i18n %}{% autoescape off %}
{% blocktrans %}Du modtager denne email fordi du, eller en administrator, har nulstillet dit password på {{ site_name }}.{% endblocktrans %}

{% trans "Klik på nedenstående link for at lave et nyt password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Du kan logge ind med dit brugernavn, " %} {{ user.get_username }}
{% trans "eller din email-adresse, " %} {{ user.email }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
